.navbar {
    display: flex;
    flex-direction: row;
    background-color: #02072D;
   margin-right: 30px;
  }
  
  .navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
  }
  /* Navbar.css */


/* Enlarge the FaBell and FaSignOutAlt icons */
.navbar-item .fa-bell,
.navbar-item .fa-sign-out-alt {
  font-size: 30px; /* Adjust the icon size as needed */
  color: #03989e; 
 
}
.navbar_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
  
}
.profile-icon-container {
  position: relative;
  display: inline-block;
}

.profile-icon-container::before {
  content: "";
  position: absolute;
  width: 36px; /* Adjust the size of the circle as needed */
  height: 36px; /* Adjust the size of the circle as needed */
  background-color: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; /* Set a negative z-index to place it behind the icon */
}

.profile-icon-container svg {
  position: relative;
  z-index: 1; /* Set a higher z-index to place it above the circle */
}





